<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">   
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/diviner.css' %}">
    <meta charset="utf-8">
    <title>The Diviner</title>
  </head>
  <body>
    <div class="page-header">
      <a href="/diviner/invest_home">Invest</a> </br>
      <a href="/diviner/retire_home">Retire</a> </br>
      <a href="/diviner/commit_home">Commit</a> </br>    
    </div>
  </body>

</html>